body {
  background-color: black;
  color: white;
  height: 100vh;
  width: 100%;
  max-height: 100vh;
}
section {
  height: 100vh;
  width: 100%;
}

.texto-inicio {
  text-shadow: 0.2em 0.5em 0.1em #600, -0.3em 0.1em 0.1em #060,
    0.4em -0.3em 0.1em #006;
}
